In [24]:
import numpy as np
import pandas as pd

In [41]:
sleep6 = pd.read_csv('sleep-2023-06-26.csv', parse_dates=['dateOfSleep']).sort_values(by='dateOfSleep').reset_index(drop=True)
sleep7 = pd.read_csv('sleep-2023-07-26.csv', parse_dates=['dateOfSleep']).sort_values(by='dateOfSleep').reset_index(drop=True)
sleep8 = pd.read_csv('sleep-2023-08-25.csv', parse_dates=['dateOfSleep']).sort_values(by='dateOfSleep').reset_index(drop=True)
sleep9 = pd.read_csv('sleep-2023-09-24.csv', parse_dates=['dateOfSleep']).sort_values(by='dateOfSleep').reset_index(drop=True)
sleep10 = pd.read_csv('sleep-2023-10-24.csv', parse_dates=['dateOfSleep']).sort_values(by='dateOfSleep').reset_index(drop=True)
sleep11 = pd.read_csv('sleep-2023-11-23.csv', parse_dates=['dateOfSleep']).sort_values(by='dateOfSleep').reset_index(drop=True)

In [42]:
sleep = pd.concat([sleep6, sleep7, sleep8, sleep9, sleep10, sleep11])
sleep.head()

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,...,levels/shortData/36/seconds,levels/shortData/37/dateTime,levels/shortData/37/level,levels/shortData/37/seconds,levels/shortData/38/dateTime,levels/shortData/38/level,levels/shortData/38/seconds,levels/data/31/dateTime,levels/data/31/level,levels/data/31/seconds
0,41867094586,2023-06-28,2023-06-28T00:04:00.000,2023-06-28T07:55:30.000,28260000,0,425,46,0,471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41878523576,2023-06-29,2023-06-28T23:32:00.000,2023-06-29T07:26:30.000,28440000,0,379,95,0,474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41887746523,2023-06-30,2023-06-30T01:39:00.000,2023-06-30T08:00:30.000,22860000,0,310,71,0,381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41900314159,2023-07-01,2023-07-01T01:21:00.000,2023-07-01T09:29:30.000,29280000,0,432,56,0,488,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41912375755,2023-07-02,2023-07-02T01:24:00.000,2023-07-02T11:34:30.000,36600000,0,521,89,0,610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove unnecessary columns

In [43]:
sleep = sleep[['dateOfSleep', 'startTime', 'endTime', 'minutesAsleep', 'minutesAwake', 'timeInBed', 'efficiency']]
sleep.head()

,dateOfSleep,startTime,endTime,minutesAsleep,minutesAwake,timeInBed,efficiency
0,2023-06-28,2023-06-28T00:04:00.000,2023-06-28T07:55:30.000,425,46,471,95
1,2023-06-29,2023-06-28T23:32:00.000,2023-06-29T07:26:30.000,379,95,474,91
2,2023-06-30,2023-06-30T01:39:00.000,2023-06-30T08:00:30.000,310,71,381,91
3,2023-07-01,2023-07-01T01:21:00.000,2023-07-01T09:29:30.000,432,56,488,94
4,2023-07-02,2023-07-02T01:24:00.000,2023-07-02T11:34:30.000,521,89,610,93

### Convert data types

In [44]:
sleep['dateOfSleep'] = pd.to_datetime(sleep['dateOfSleep'])
sleep['startTime'] = pd.to_datetime(sleep['startTime']).dt.time
sleep['endTime'] = pd.to_datetime(sleep['endTime']).dt.time
sleep.head()

,dateOfSleep,startTime,endTime,minutesAsleep,minutesAwake,timeInBed,efficiency
0,2023-06-28,00:04:00,07:55:30,425,46,471,95
1,2023-06-29,23:32:00,07:26:30,379,95,474,91
2,2023-06-30,01:39:00,08:00:30,310,71,381,91
3,2023-07-01,01:21:00,09:29:30,432,56,488,94
4,2023-07-02,01:24:00,11:34:30,521,89,610,93

### Convert units

In [45]:
sleep['minutesAsleep'] = sleep['minutesAsleep']/60
sleep['minutesAwake'] = sleep['minutesAwake'] /60
sleep['timeInBed'] = sleep['timeInBed'] /60
sleep.head()

,dateOfSleep,startTime,endTime,minutesAsleep,minutesAwake,timeInBed,efficiency
0,2023-06-28,00:04:00,07:55:30,7.083333,0.766667,7.850000,95
1,2023-06-29,23:32:00,07:26:30,6.316667,1.583333,7.900000,91
2,2023-06-30,01:39:00,08:00:30,5.166667,1.183333,6.350000,91
3,2023-07-01,01:21:00,09:29:30,7.200000,0.933333,8.133333,94
4,2023-07-02,01:24:00,11:34:30,8.683333,1.483333,10.166667,93

In [46]:
sleep.sort_values(by='dateOfSleep', ascending=False).reset_index(drop=True)
sleep

,dateOfSleep,startTime,endTime,minutesAsleep,minutesAwake,timeInBed,efficiency
0,2023-06-28,00:04:00,07:55:30,7.083333,0.766667,7.850000,95
1,2023-06-29,23:32:00,07:26:30,6.316667,1.583333,7.900000,91
2,2023-06-30,01:39:00,08:00:30,5.166667,1.183333,6.350000,91
3,2023-07-01,01:21:00,09:29:30,7.200000,0.933333,8.133333,94
4,2023-07-02,01:24:00,11:34:30,8.683333,1.483333,10.166667,93
...,...,...,...,...,...,...,...
22,2023-12-15,00:34:30,10:55:30,9.216667,1.133333,10.350000,98
23,2023-12-16,01:13:30,09:23:30,7.166667,1.000000,8.166667,98
24,2023-12-17,01:47:30,08:35:30,5.916667,0.883333,6.800000,95
25,2023-12-18,01:15:00,10:26:30,8.083333,1.100000,9.183333,95
26,2023-12-19,00:40:00,09:11:00,7.700000,0.816667,8.516667,98

### Rename Columns

In [47]:
sleep.rename(columns = {'dateOfSleep':'date',
                        'startTime':'sleepStart',
                        'endTime':'sleepEnd',
                        'efficiency':'sleepEfficiency',
                        'minutesAwake':'awake',
                        'minutesAsleep':'asleep'
                        }, inplace = True) 
sleep.head()

,date,sleepStart,sleepEnd,asleep,awake,timeInBed,sleepEfficiency
0,2023-06-28,00:04:00,07:55:30,7.083333,0.766667,7.850000,95
1,2023-06-29,23:32:00,07:26:30,6.316667,1.583333,7.900000,91
2,2023-06-30,01:39:00,08:00:30,5.166667,1.183333,6.350000,91
3,2023-07-01,01:21:00,09:29:30,7.200000,0.933333,8.133333,94
4,2023-07-02,01:24:00,11:34:30,8.683333,1.483333,10.166667,93

### save this dataframe as sleep

In [48]:
sleep.to_csv('sleep.csv')