In [73]:
import numpy as np
import pandas as pd

In [74]:
sleep6 = pd.read_csv('sleep-2023-06-26.csv')
sleep7 = pd.read_csv('sleep-2023-07-26.csv')
sleep8 = pd.read_csv('sleep-2023-08-25.csv')
sleep9 = pd.read_csv('sleep-2023-09-24.csv')
sleep10 = pd.read_csv('sleep-2023-10-24.csv')
sleep11 = pd.read_csv('sleep-2023-11-23.csv')

In [75]:
sleep = pd.concat([sleep6, sleep7, sleep8, sleep9, sleep10, sleep11])
sleep.head()

,logId,dateOfSleep,startTime,endTime,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,...,levels/shortData/36/seconds,levels/shortData/37/dateTime,levels/shortData/37/level,levels/shortData/37/seconds,levels/shortData/38/dateTime,levels/shortData/38/level,levels/shortData/38/seconds,levels/data/31/dateTime,levels/data/31/level,levels/data/31/seconds
0,42198927924,2023-07-26,2023-07-26T00:27:00.000,2023-07-26T07:12:30.000,24300000,0,356,49,0,405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,42183233928,2023-07-25,2023-07-25T01:29:30.000,2023-07-25T08:34:00.000,25440000,0,384,40,0,424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,42183233927,2023-07-24,2023-07-24T02:23:00.000,2023-07-24T06:54:30.000,16260000,0,248,23,8,271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,42160354242,2023-07-23,2023-07-23T00:28:30.000,2023-07-23T09:00:30.000,30720000,0,450,62,0,512,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42149896584,2023-07-22,2023-07-22T00:47:00.000,2023-07-22T09:11:30.000,30240000,0,434,70,0,504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove unnecessary columns

In [76]:
sleep = sleep[['dateOfSleep', 'startTime', 'endTime', 'minutesToFallAsleep', 'minutesAsleep', 'minutesAwake', 'minutesAfterWakeup', 'timeInBed', 'efficiency']]
sleep.head()

,dateOfSleep,startTime,endTime,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency
0,2023-07-26,2023-07-26T00:27:00.000,2023-07-26T07:12:30.000,0,356,49,0,405,98
1,2023-07-25,2023-07-25T01:29:30.000,2023-07-25T08:34:00.000,0,384,40,0,424,96
2,2023-07-24,2023-07-24T02:23:00.000,2023-07-24T06:54:30.000,0,248,23,8,271,97
3,2023-07-23,2023-07-23T00:28:30.000,2023-07-23T09:00:30.000,0,450,62,0,512,92
4,2023-07-22,2023-07-22T00:47:00.000,2023-07-22T09:11:30.000,0,434,70,0,504,94

### Convert data types

In [77]:
sleep['dateOfSleep'] = pd.to_datetime(sleep['dateOfSleep'])
sleep['startTime'] = pd.to_datetime(sleep['startTime']).dt.time
sleep['endTime'] = pd.to_datetime(sleep['endTime']).dt.time
sleep.head()

,dateOfSleep,startTime,endTime,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency
0,2023-07-26,00:27:00,07:12:30,0,356,49,0,405,98
1,2023-07-25,01:29:30,08:34:00,0,384,40,0,424,96
2,2023-07-24,02:23:00,06:54:30,0,248,23,8,271,97
3,2023-07-23,00:28:30,09:00:30,0,450,62,0,512,92
4,2023-07-22,00:47:00,09:11:30,0,434,70,0,504,94

### Convert units

In [78]:
sleep['minutesAsleep'] = sleep['minutesAsleep']/60
sleep['minutesAwake'] = sleep['minutesAwake'] /60
sleep['timeInBed'] = sleep['timeInBed'] /60
sleep.head()

,dateOfSleep,startTime,endTime,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency
0,2023-07-26,00:27:00,07:12:30,0,5.933333,0.816667,0,6.750000,98
1,2023-07-25,01:29:30,08:34:00,0,6.400000,0.666667,0,7.066667,96
2,2023-07-24,02:23:00,06:54:30,0,4.133333,0.383333,8,4.516667,97
3,2023-07-23,00:28:30,09:00:30,0,7.500000,1.033333,0,8.533333,92
4,2023-07-22,00:47:00,09:11:30,0,7.233333,1.166667,0,8.400000,94

### Rename Columns

In [79]:
sleep.rename(columns = {'dateOfSleep':'date',
                        'startTime':'sleepStart',
                        'endTime':'sleepEnd',
                        'efficiency':'sleepEfficiency',
                        'minutesAwake':'awake',
                        'minutesAsleep':'asleep'
                        }, inplace = True) 
sleep.head()

,date,sleepStart,sleepEnd,minutesToFallAsleep,asleep,awake,minutesAfterWakeup,timeInBed,sleepEfficiency
0,2023-07-26,00:27:00,07:12:30,0,5.933333,0.816667,0,6.750000,98
1,2023-07-25,01:29:30,08:34:00,0,6.400000,0.666667,0,7.066667,96
2,2023-07-24,02:23:00,06:54:30,0,4.133333,0.383333,8,4.516667,97
3,2023-07-23,00:28:30,09:00:30,0,7.500000,1.033333,0,8.533333,92
4,2023-07-22,00:47:00,09:11:30,0,7.233333,1.166667,0,8.400000,94

### save this dataframe as sleep

In [81]:
sleep.to_csv('sleep.csv', index=False)